[submodule "slim.view"]
	path = slim.view
	url = git@github.com:greergan/slim.view.git
[submodule "slim.objects"]
	path = slim.objects
	url = git@github.com:greergan/slim.objects.git
[submodule "slim.logging"]
	path = slim.logging
	url = git@github.com:greergan/slim.logging.git
[submodule "slim.generator"]
	path = slim.generator
	url = git@github.com:greergan/slim.generator.git
