autom4te.cache
compile
configure
configure~
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
Makefile
Makefile.in
aclocal.m4
depcomp
config.h
config.h.in
config.h.in~
stamp-h1
install-sh
missing
.deps
.libs
src/slim
*.o
*.lo
*.la
.vscode